@use '../../ui/styles/variables.scss' as variables;
@use '../../ui/styles/mixins.scss' as mixins;

.menu {
    list-style: none;
    padding-bottom: 20px;

    h5 {
        margin-top: 20px;
        color: variables.$gray;
        font-size: 14px;
    }

    i {
        height: 30px;
        border: 1px solid #c2bcbc52;
        border-radius: 8px;
    }

    svg {
        border-radius: 8px;
    }
}

.sub-menu {
    list-style: none;

    &__item {
        @include mixins.container-gap(10px);
        margin-top: 10px;
    }

    svg {
        width: 28px;
        height: 28px;
    }
}