<section class="company-container">
    <div class="about-container">
        <div class="about-container__content">
            <h1 class="about-container__title">Made with ❤️ by your frens at</h1>
            <svg class="about-container__item">
                <use xlink:href="svg/company.svg#company"></use>
            </svg>
        </div>
        <p class="about-container__text">Building RainbowKit has been an incredibly fun effort across many people at
            Rainbow and our frens at other
            companies. We're always looking to make RainbowKit better, so please let us know how we can improve.</p>
    </div>
    <div>
        <button class="button button--follow">Follow us on Twitter</button>
        <button class="button button--share">Share feedback with us</button>
    </div>
</section>