@use '../../ui/styles/variables.scss' as variables;
@use '../../ui/styles/mixins.scss' as mixins;

.company-container {
    text-align: center;
    padding-bottom: 120px;
}

.about-container {
    text-align: center;
    gap: 10px;
    line-height: 1;
    padding: 120px 120px 80px 120px;
    justify-items: center;

    &__content {
        display: flex;
        gap: 15px;

        svg {
            border-radius: 10px;
        }
    }

    &__title {
        @include mixins.text(55px, variables.$black);
        font-weight: 800;
        margin-bottom: 40px;
    }

    &__text {
        @include mixins.text(25px, variables.$black);
        font-weight: 700;
        letter-spacing: -0.65px;
        width: 58%;
    }
}

.button {
    @include mixins.button(30px, 12px 25px 12px 25px);
    @include mixins.font(15px, 600);
    border: none;
    cursor: pointer;
    transition: 0.5s transform;

    &:hover {
        transform: scale(1.05);
    }
}

.button--follow {
    background-image: linear-gradient(270deg, #1da1f2, #1d7df2);
    margin-right: 20px;
}

.button--share {
    background-image: linear-gradient(270deg, #ff6257, variables.$pink);
}