<footer>
    <ul class="footer-links">
        <li>
            <a href="#">
                <span>👾</span>
                github
            </a>
        </li>
        <li>
            <a href="#">
                <span>⬇️</span>
                media kit
            </a>
        </li>
        <li>
            <a href="#">
                <span>📜</span>
                terms of use
            </a>
        </li>
        <li>
            <a href="#">
                <span>🔒</span>
                privacy policy
            </a>
        </li>
        <li aria-disabled="true" class="footer-links__text">© Rainbow</li>
    </ul>
</footer>