<div class="picture-container">
    <picture class="picture-container__first-img">
        <img width="800px" src="/images/hero-modal.webp" alt="Rainbow kit application view on a computer full screen.">
    </picture>
    <picture class="picture-container__second-img">
        <img width="430px" src="/images/hero-compact.webp" alt="Rainbow kit application resposive view on a computer.">
    </picture>
    <picture class="picture-container__third-img">
        <img width="320px" src="/images/hero-iphone.webp" alt="Rainbow kit application view on mobile.">
    </picture>
</div>