<section class="workers-container">
    <app-developers-information></app-developers-information>
    <div class="list-container">
        <ul class="list">
            <li *ngFor="let item of listItems.slice(0, 4)">
                <span>
                    <svg height="22" width="22">
                        <use xlink:href="svg/check.svg#check"></use>
                    </svg>
                </span>
                <h4>{{ item.title }}</h4>
            </li>
        </ul>
        <ul class="list">
            <li *ngFor="let item of listItems.slice(4)">
                <span>
                    <svg height="22" width="22">
                        <use xlink:href="svg/check.svg#check"></use>
                    </svg>
                </span>
                <h4>{{ item.title }}</h4>
            </li>
        </ul>
    </div>
    <button>View the Docs</button>
</section>