@use '../../ui/styles/variables.scss' as variables;
@use '../../ui/styles/mixins.scss' as mixins;

footer {
    @include mixins.container-grid(space-evenly, 10px);
    margin-top: 20px;

    button {
        @include mixins.button(30px, 8px 20px 8px 20px);
        background-color: variables.$blue;
        border: none;
        font-weight: 600;
    }

    span {
        text-align: center;
        color: variables.$light-blue;
        font-weight: 700;
    }
}