@use '../../ui/styles/variables.scss' as variables;
@use '../../ui/styles/mixins.scss' as mixins;

.panel-content {
    display: flex;
    padding: 20px 20px 0 20px;
    width: 712px;
    height: 470px;
    background-color: variables.$white;
    border-radius: 15px;
    color: black;
    box-shadow: 0 4px 14px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &.text-white {
        color: white;
    }
}

.panel-nav {
    min-width: 245px;
    overflow-y: scroll;

    h3 {
        @include mixins.font(20px, 800);
    }
}

.menu {
    list-style: none;
    padding-bottom: 20px;

    h5 {
        margin-top: 20px;
        color: variables.$gray;
        font-size: 14px;
    }

    i {
        height: 30px;
        border: 1px solid #c2bcbc52;
        border-radius: 8px;
    }

    svg {
        border-radius: 8px;
    }
}

.sub-menu {
    list-style: none;

    &__item {
        @include mixins.container-gap(10px);
        margin-top: 10px;
    }

    svg {
        width: 28px;
        height: 28px;
    }
}

.panel-information {
    padding-left: 20px;

    header {
        text-align: right;
    }

    &__button {
        @include mixins.button(50%, 8px 10px 5px 10px, variables.$smoky-gray);
        border: none;
        cursor: pointer;
        transition: 0.5s transform;

        &:hover {
            transform: scale(1.05);
        }

        svg {
            width: 10px;
            height: 10px;
        }
    }

    main {
        justify-items: center;
        margin-top: 20px;
    }

    .banner-container {
        justify-items: center;
        margin-top: 25px;

        &__banner {
            @include mixins.container-gap(10px);
            width: 70%;

            h5 {
                font-size: 15px;
            }

            p {
                color: variables.$gray;
                font-size: 14px;
            }
        }
    }

    footer {
        @include mixins.container-grid(space-evenly, 10px);
        margin-top: 20px;

        button {
            @include mixins.button(30px, 8px 20px 8px 20px);
            background-color: variables.$blue;
            border: none;
            font-weight: 600;
        }

        span {
            text-align: center;
            color: variables.$light-blue;
            font-weight: 700;
        }
    }
}