<article class="panel-content" [style.backgroundColor]="panelBackground" [style.borderRadius]="panelRadius">
    <div class="panel-nav">
        <h3 tabindex="1">Connect Wallet</h3>
        <menu tabindex="2" class="menu">
            <li>
                <h5>Popular</h5>
                <div>
                    <menu class="sub-menu">
                        <li class="sub-menu__item">
                            <i aria-hidden="true">
                                <svg>
                                    <use xlink:href="svg/rainbow.svg#rainbow"></use>
                                </svg>
                            </i>
                            <h4>Rainbow</h4>
                        </li>
                        <li class="sub-menu__item">
                            <i aria-hidden="true">
                                <svg>
                                    <use xlink:href="svg/coinbase.svg#coinbase"></use>
                                </svg>
                            </i>
                            <h4>Coinbase Wallet</h4>
                        </li>
                        <li class="sub-menu__item">
                            <i aria-hidden="true">
                                <svg>
                                    <use xlink:href="svg/metamask.svg#metamask"></use>
                                </svg>
                            </i>
                            <h4>MetaMask</h4>
                        </li>
                        <li class="sub-menu__item">
                            <i aria-hidden="true">
                                <svg>
                                    <use xlink:href="svg/wallet.svg#wallet"></use>
                                </svg>
                            </i>
                            <h4>Wallet Connect</h4>
                        </li>
                    </menu>
                </div>
            </li>
            <li>
                <h5>More</h5>
                <div>
                    <menu class="sub-menu">
                        <li class="sub-menu__item">
                            <i aria-hidden="true">
                                <svg>
                                    <use xlink:href="svg/argent.svg#argent"></use>
                                </svg>
                            </i>
                            <h4>Argent</h4>
                        </li>
                        <li class="sub-menu__item">
                            <i aria-hidden="true">
                                <svg>
                                    <use xlink:href="svg/trust.svg#trust"></use>
                                </svg>
                            </i>
                            <h4>Trust Wallet</h4>
                        </li>
                        <li class="sub-menu__item">
                            <i aria-hidden="true">
                                <svg>
                                    <use xlink:href="svg/omni.svg#omni"></use>
                                </svg>
                            </i>
                            <h4>Omni</h4>
                        </li>
                        <li class="sub-menu__item">
                            <i aria-hidden="true">
                                <svg>
                                    <use xlink:href="svg/token.svg#token"></use>
                                </svg>
                            </i>
                            <h4>imToken</h4>
                        </li>
                        <li class="sub-menu__item">
                            <i aria-hidden="true">
                                <svg>
                                    <use xlink:href="svg/leader.svg#leader"></use>
                                </svg>
                            </i>
                            <h4>Leader</h4>
                        </li>
                    </menu>
                </div>
            </li>
        </menu>
    </div>
    <div tabindex="3" class="panel-information">
        <header>
            <button aria-label="Close" class="panel-information__button">
                <svg>
                    <use xlink:href="svg/close.svg#close"></use>
                </svg>
            </button>
        </header>
        <main>
            <h4>What is a Wallet?</h4>
            <div class="banner-container">
                <article class="banner-container__banner">
                    <svg width="120px" height="120px">
                        <use xlink:href="svg/asset.svg#asset"></use>
                    </svg>
                    <div>
                        <h5>A Home for your Digital Assets</h5>
                        <p>Wallets are used to send, receive, store, and display digital assets like Ethereum and
                            NFTs.</p>
                    </div>
                </article>
                <article class="banner-container__banner">
                    <svg width="120px" height="120px">
                        <use xlink:href="svg/log.svg#log"></use>
                    </svg>
                    <div>
                        <h5>A New Way to Log In</h5>
                        <p>Instead of creating new accounts and passwords on every website, just connect your
                            wallet.</p>
                    </div>
                </article>
            </div>
        </main>
        <footer>
            <button>Get a Wallet</button>
            <span>Learn More</span>
        </footer>
    </div>
</article>