<article class="panel-content" [style.backgroundColor]="panelBackground" [style.borderRadius]="panelRadius">
    <div class="panel-nav">
        <h3 tabindex="1">Connect Wallet</h3>
        <app-menu-panel></app-menu-panel>
    </div>
    <div tabindex="3" class="panel-information">
        <app-header-panel></app-header-panel>
        <app-main-panel></app-main-panel>
        <footer>
            <button>Get a Wallet</button>
            <span>Learn More</span>
        </footer>
    </div>
</article>